<!DOCTYPE html>
<html ng-app="ngBoilerplate">
  <head>
    <title>ng-boilerplate</title>

<!--     // <script type="text/javascript" src="/static/angular.js"></script>
    // <script type="text/javascript" src="/static/bootstrap.js"></script> -->

    <!-- your compiles CSS -->
    <link rel="stylesheet" type="text/css" href="assets/<%= grunt.config.get('pkg.name') %>.css"/>

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css>
    <![endif]-->

    <!-- libs.js contains all of the concatenated third-party libraries -->
    <script type="text/javascript" src="assets/libs.js"></script>

    <!-- this is your compiled, minified application code -->
    <script type="text/javascript" src="assets/<%= grunt.config.get('pkg.name') %>.js"></script>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <div class="navbar" ng-controller="HeaderCtrl">
        <div class="navbar-inner">
            <a class="brand" ng-click="home()">Zanox Fastlane</a>
            <ul class="nav">
                <li ng-class="{active:isNavbarActive('projectsinfo')}"><a href="/projectsinfo">Current Projects</a></li>
            </ul>

            <ul class="nav" ng-show="isAuthenticated()">
                <li><a href="/projects">Projects</a></li>

                <li class="dropdown" ng-class="{active:isNavbarActive('admin'), open:isProjectsOpen}" ng-show="isAdmin()">
                    <a id="adminmenu" role="button" class="dropdown-toggle" ng-click="isProjectsOpen=!isProjectsOpen">Zanox Projects<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="adminmenu">
                        <li ng-repeat="artifact in artifacts"><a tabindex="-1" href="/project/{{artifact}}">{{artifact}}</a></li>
                    </ul>
                </li>

                <li ng-class="{active:isNavbarActive('projects')}"><a href="/projects">My Projects</a></li>
                <li class="dropdown" ng-class="{active:isNavbarActive('admin'), open:isAdminOpen}" ng-show="isAdmin()">
                    <a id="adminmenu" role="button" class="dropdown-toggle" ng-click="isAdminOpen=!isAdminOpen">Admin<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="adminmenu">
                        <li><a tabindex="-1" href="/admin/projects" ng-click="isAdminOpen=false">Manage Projects</a></li>
                        <li><a tabindex="-1" href="/admin/users" ng-click="isAdminOpen=false">Manage Users</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right" ng-show="hasPendingRequests()">
                <li class="divider-vertical"></li>
                <li><a href="#"><img src="/static/img/spinner.gif"></a></li>
            </ul>
            <login-toolbar></login-toolbar>
        </div>
        <div>
            <ul class="breadcrumb">
                <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                    <span class="divider">/</span>
                    <ng-switch on="$last">
                        <span ng-switch-when="true">{{breadcrumb.name}}</span>
                        <span ng-switch-default><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
                    </ng-switch>
                </li>
            </ul>
        </div>
    </div>


    <div class="container" ng-controller="AppCtrl">
      <div class="masthead">
        <h3 class="muted">ng-boilerplate</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li ui-route="/home" ng-class="{active:$uiRoute}">
                  <a href="#/home"><i class="icon-home"></i>Home</a>
                </li>
                <li ui-route="/about" ng-class="{active:$uiRoute}">
                  <a href="#/about"><i class="icon-info-sign"></i>What is it?</a>
                </li>
                <li>
                  <a href="https://github.com/joshdmiller/ng-boilerplate#readme">
                    <i class="icon-book"></i>
                    Read the Docs
                  </a>
                </li>
                <li>
                  <a href="https://github.com/joshdmiller/ng-boilerplate">
                    <i class="icon-github-alt"></i>
                    Github
                  </a>
                </li>
                <li>
                  <a href="https://github.com/joshdmiller/ng-boilerplate/issues">
                    <i class="icon-comments"></i>
                    Support
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" ng-view></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <ul class="social">
            <li><a target="_blank" href="http://gplus.to/joshdmiller"><i class="icon-google-plus-sign"></i></a></li>
            <li><a target="_blank" href="http://twitter.com/joshdmiller"><i class="icon-twitter-sign"></i></a></li>
            <li><a target="_blank" href="http://linkedin.com/in/joshdmiller"><i class="icon-linkedin-sign"></i></a></li>
            <li><a target="_blank" href="http://github.com/joshdmiller/ng-boilerplate"><i class="icon-github-sign"></i></a></li>
          </ul>
          

          <p>
            (c) 2013 Josh David Miller. 
            <a href="http://github.com/joshdmiller/ng-boilerplate/fork_select">Fork this</a>
            to kickstart your next project.
            <br />
            ng-boilerplate is based on
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>, 
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
            and 
            <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.        
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
